$main-text-color: #293264;
$main-background-color-and-button-text: #f5f7fb;
$button-background-and-border: #4d5b9e;
$choosen-answer-background: #d6dbf5;
$correct-answer: #94d7a2;
$question-section-bottom-border: #dbdef0;
